x*
*blast
*report
log*
old
info/
data/
perform.txt
tmp*
01_info_files/full_length_acc.*
04_temp_results/transcriptome.univecclean.fa
cleaning_*/
*log
*.sort
*.pep
*.cidx
*.cln
*pasa*
*blat*
*gmap*
11.ooc
